@import url('https://fonts.googleapis.com/css2?family=Outfit:wght$400;700&display=swap');

$card-background-color: hsl(0, 0%, 100%);
$container-title-color: hsl(218, 44%, 22%);
$light-gray: hsl(220, 15%, 55%);

body{
  margin: 0;
  background-color: $light-gray;
}

main{
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
}

.container{
  background-color: $card-background-color;
  border: 0;
  border-radius: 14px;
  font-family: 'Outfit', sans-serif;
  margin: 0 auto;
  width: 240px;
  padding: 5px;

  h1{
    color: $container-title-color;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
  }

  p{
    color: $light-gray;  
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }
}

.content{
  margin: 7px;
}

.image-container{
  background: url('../images/image-qr-code.png') center / cover no-repeat;
  border-radius: 14px;
  width: 230px;
  height: 230px;
  margin:5px auto;
}

.attribution{
  color:hsl(220, 6%, 81%);
  font-size: 11px; 
  text-align: center;
  a{
    color: hsl(228, 45%, 44%);
  }
}